In [70]:
# Dependencies and Setup
import pandas as pd

# File to Load
file = "purchase_data.csv"

# Read Purchases file and store in Pandas dataframe
purchaseData = pd.read_csv(file)

In [72]:
purchaseData

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [71]:
# Player Count
uniquePlayers = len(purchaseData["SN"].value_counts())
print(uniquePlayers)

576

In [73]:
type(purchaseData)

pandas.core.frame.DataFrame

In [74]:
# Purchasing Analysis

# Number of unique items
uniqueItems = len(purchaseData["Item ID"].value_counts())
print(uniqueItems)

179

In [75]:
# Average purchase price
avgPrice = purchaseData["Price"].mean()
print(avgPrice)

3.050987179487176

In [76]:
# Total number of purchases
numPurchases = len(purchaseData["Purchase ID"].value_counts())
print(numPurchases)

780

In [77]:
# Total revenue
totalRev = purchaseData["Price"].sum()
print(totalRev)

2379.77

In [78]:
deduped = purchaseData.drop_duplicates(subset=["SN"])
deduped

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02
774,774,Jiskjask80,11,Male,92,Final Critic,4.19
775,775,Aethedru70,21,Female,60,Wolf,3.54
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19

In [79]:
males = deduped.loc[deduped["Gender"] == "Male"]
print(males)
len(males)

     Purchase ID             SN  Age Gender  Item ID  \
0              0        Lisim78   20   Male      108
1              1    Lisovynya38   40   Male      143
2              2     Ithergue48   24   Male       92
3              3  Chamassasya86   24   Male      100
4              4      Iskosia90   23   Male      131
..           ...            ...  ...    ...      ...
771          771   Iskossasda43   16   Male       25
773          773         Hala31   21   Male       19
774          774     Jiskjask80   11   Male       92
777          777     Yathecal72   20   Male       67
778          778        Sisur91    7   Male       92

                                     Item Name  Price
0    Extraction, Quickblade Of Trembling Hands   3.53
1                            Frenzied Scimitar   1.56
2                                 Final Critic   4.88
3                                  Blindscythe   3.27
4                                         Fury   1.44
..                                         ...    ...
771                                  Hero Cane   4.35
773              Pursuit, Cudgel of Necromancy   1.02
774                               Final Critic   4.19
777      Celeste, Incarnation of the Corrupted   3.46
778                               Final Critic   4.19

[484 rows x 7 columns]

484

In [80]:
females = deduped.loc[deduped["Gender"] == "Female"]
print(females)
len(females)

     Purchase ID              SN  Age  Gender  Item ID  \
15            15       Lisassa64   21  Female       98
18            18       Reunasu60   22  Female       82
38            38        Reulae52   10  Female      116
41            41       Assosia88   20  Female        7
55            55       Phaelap26   25  Female       84
..           ...             ...  ...     ...      ...
697          697  Tyaelistidru84   19  Female        1
698          698     Yarithrin84   30  Female       58
699          699       Tyaelly53   17  Female      130
731          731        Eudanu84   22  Female       12
775          775      Aethedru70   21  Female       60

                             Item Name  Price
15         Deadline, Voice Of Subtlety   2.89
18                             Nirvana   4.90
38             Renewed Skeletal Katana   4.18
41        Thorn, Satchel of Dark Souls   1.33
55                          Arcane Gem   3.79
..                                 ...    ...
697                           Crucifer   3.26
698  Freak's Bite, Favor of Holy Might   4.14
699                              Alpha   2.07
731                              Dawne   1.02
775                               Wolf   3.54

[81 rows x 7 columns]

81

In [81]:
deduped["Gender"].value_counts()

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [82]:
noGender = deduped.loc[deduped["Gender"] == "Other / Non-Disclosed"]
print(noGender)
len(noGender)

     Purchase ID            SN  Age                 Gender  Item ID  \
9              9   Chanosian48   35  Other / Non-Disclosed      136
22            22  Siarithria38   38  Other / Non-Disclosed       24
82            82    Haerithp41   16  Other / Non-Disclosed      160
111          111      Sundim98   21  Other / Non-Disclosed       41
228          228   Jiskirran77   20  Other / Non-Disclosed       80
237          237     Idairin51   20  Other / Non-Disclosed       16
242          242     Eodaisu60   16  Other / Non-Disclosed       39
350          350     Rairith81   15  Other / Non-Disclosed       34
401          401      Lirtim36   15  Other / Non-Disclosed       46
549          549    Maluncil97   25  Other / Non-Disclosed      146
637          637        Airi27   24  Other / Non-Disclosed      163

                                Item Name  Price
9            Ghastly Adamantite Protector   3.58
22                          Warped Fetish   3.81
82                             Azurewrath   4.40
111                                 Orbit   4.75
228                             Dreamsong   3.39
237                       Restored Bauble   3.55
242  Betrayal, Whisper of Grieving Widows   3.94
350                       Retribution Axe   2.22
401               Hopeless Ebon Dualblade   1.33
549                  Warped Iron Scimitar   3.10
637                  Thunderfury Scimitar   3.45

11

In [83]:
# Gender Demographics
genderSumm = pd.DataFrame({"Gender": ["Males", "Females", "Other / Non-Disclosed"],
                          "Count": [len(males), len(females), len(noGender)],
                          "Percentage": [len(males) / uniquePlayers, len(females) / uniquePlayers, len(noGender) / uniquePlayers]})
genderSumm.style.hide_index()

In [133]:
# Purchasing Analysis by Gender
# First, group by gender
PurchByGender = purchaseData.groupby("Gender")
# PurchByGender["Purchase ID"].count()
testdf = pd.DataFrame({"Purchase Count": purchaseData["Gender"].value_counts(),
         "Avg Purchase Price": PurchByGender["Price"].mean(),
         "Total Purchase Value": PurchByGender["Price"].sum(),
         "Avg Total Purchase Per Person": PurchByGender["Price"].sum() / deduped["Gender"].value_counts()})

testdf

,Purchase Count,Avg Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

In [69]:
# Update this table to display: purchase count, avg purchase price, 
    # total purchase value, avg total purchase per person
# testdf = purchaseData[[["Purchase Count" = "Purchase ID".count()], 
#                         ["Avg Purchase Price" = "Price".mean()],
#                         ["Total Purchase Value" = "Price".sum()], 
#                         ["Avg Total Purchase Per Person" = []"Price".sum() / len("Price")]]
purchaseSumm = purchaseData.copy()
purchaseSumm["Purchase ID"] = purchaseSumm["Purchase ID"].count()
purchaseSumm

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,780,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,780,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,780,Ithergue48,24,Male,92,Final Critic,4.88
3,780,Chamassasya86,24,Male,100,Blindscythe,3.27
4,780,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,780,Aethedru70,21,Female,60,Wolf,3.54
776,780,Iral74,21,Male,164,Exiled Doomblade,1.63
777,780,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,780,Sisur91,7,Male,92,Final Critic,4.19
779,780,Ennrian78,24,Male,50,Dawn,4.60