In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load
file = "purchase_data.csv"

# Read Purchases file and store in Pandas dataframe
purchaseData = pd.read_csv(file)

In [2]:
purchaseData

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [3]:
# Player Count
uniquePlayers = pd.DataFrame({"Total Players": [len(purchaseData["SN"].value_counts())]})
uniquePlayers

   Total Players
0            576

In [4]:
# Purchasing Analysis

# Number of unique items
uniqueItems = len(purchaseData["Item ID"].value_counts())
print(uniqueItems)

# Average purchase price
avgPrice = purchaseData["Price"].mean()
print(avgPrice)

# Total number of purchases
numPurchases = len(purchaseData["Purchase ID"].value_counts())
print(numPurchases)

# Total revenue
totalRev = purchaseData["Price"].sum()
print(totalRev)

179
3.050987179487176
780
2379.77

In [39]:
# Purchasing Analysis
purchAnalysisdf = pd.DataFrame({"Number of Unique Items": [len(purchaseData["Item ID"].value_counts())],
         "Average Price": round(purchaseData["Price"].mean(), 2),
         "Number of Purchases": [len(purchaseData["Purchase ID"].value_counts())],
         "Total Revenue": [purchaseData["Price"].sum()]})

purchAnalysisdf

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179           3.05                  780        2379.77

In [6]:
deduped = purchaseData.drop_duplicates(subset=["SN"])
deduped

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02
774,774,Jiskjask80,11,Male,92,Final Critic,4.19
775,775,Aethedru70,21,Female,60,Wolf,3.54
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19

In [18]:
males = deduped.loc[deduped["Gender"] == "Male"]
len(males)

484

In [17]:
females = deduped.loc[deduped["Gender"] == "Female"]
len(females)

81

In [10]:
deduped["Gender"].value_counts()

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [19]:
noGender = deduped.loc[deduped["Gender"] == "Other / Non-Disclosed"]
len(noGender)

11

In [38]:
# Gender Demographics
genderSumm = pd.DataFrame({"Gender": ["Males", "Females", "Other / Non-Disclosed"],
                          "Total Count": [len(males), len(females), len(noGender)],
                          "Percentage of Players": [round(len(males) / len(purchaseData["SN"].value_counts()) *  100, 2), round(len(females) / len(purchaseData["SN"].value_counts()) *  100, 2), round(len(noGender) / len(purchaseData["SN"].value_counts())*100,2)]})
genderSumm.style.hide_index()

In [16]:
# Purchasing Analysis by Gender
# First, group by gender
PurchByGender = purchaseData.groupby("Gender")
# PurchByGender["Purchase ID"].count()
testdf = pd.DataFrame({"Purchase Count": purchaseData["Gender"].value_counts(),
         "Avg Purchase Price": round(PurchByGender["Price"].mean(), 2),
         "Total Purchase Value": PurchByGender["Price"].sum(),
         "Avg Total Purchase Per Person": round(PurchByGender["Price"].sum() / deduped["Gender"].value_counts(), 2)})

testdf

,Purchase Count,Avg Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Female,113,3.20,361.94,4.47
Male,652,3.02,1967.64,4.07
Other / Non-Disclosed,15,3.35,50.19,4.56

In [32]:
# Age Demographics

bins = [0, 9, 14, 19, 24, 29, 34, 39, 50]
label = ["<10", "10 - 14", "15 - 19", "20 - 24", "25 - 29", "30 - 34", "35 - 39", "40+"]

age_df = deduped.copy()

age_df["Age Group"] = pd.cut(age_df["Age"], bins, labels = label, include_lowest = True)
agegroups = pd.DataFrame({"Total Count": age_df["Age Group"].value_counts(),
                         "Percentage of Players": round(age_df["Age Group"].value_counts() / len(purchaseData["SN"].value_counts()) * 100, 2)})

agegroups.sort_index()

         Total Count  Percentage of Players
<10               17                   2.95
10 - 14           22                   3.82
15 - 19          107                  18.58
20 - 24          258                  44.79
25 - 29           77                  13.37
30 - 34           52                   9.03
35 - 39           31                   5.38
40+               12                   2.08

In [31]:
# Purchasing Analysis by Age

ageAnalysis = purchaseData.copy()

ageAnalysis["Age Group"] = pd.cut(ageAnalysis["Age"], bins, labels = label, include_lowest = True)
ageAnalysisGroup = ageAnalysis.groupby("Age Group")
purchCounts = ageAnalysisGroup["Price"].count()
avgPrices = ageAnalysisGroup["Price"].mean()
totalVal = ageAnalysisGroup["Price"].sum()

purchByAge = pd.DataFrame({"Purchase Count": ageAnalysisGroup["Price"].count(),
        "Avg Purchase Price": round(ageAnalysisGroup["Price"].mean(), 2),
          "Total Purchase Value": ageAnalysisGroup["Price"].sum(),
          "Avg Total Purchase Per Person": round(totalVal / age_df["Age Group"].value_counts(), 2)})
purchByAge.sort_index()

,Purchase Count,Avg Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
<10,23,3.35,77.13,4.54
10 - 14,28,2.96,82.78,3.76
15 - 19,136,3.04,412.89,3.86
20 - 24,365,3.05,1114.06,4.32
25 - 29,101,2.90,293.00,3.81
30 - 34,73,2.93,214.00,4.12
35 - 39,41,3.60,147.67,4.76
40+,13,2.94,38.24,3.19

In [49]:
# Top Spenders
#  identify top 5 spenders by total purchase value, then table: SN, Purchase Count, Avg Purchase Price, Total Purchase Value
users = purchaseData.groupby("SN")
topSpenders = pd.DataFrame({"Purchase Count": users["Purchase ID"].count(),
    "Average Purchase Price": round(users["Price"].mean(), 2),
    "Total Purchase Value": users["Price"].sum()})
topSpenders.sort_values("Total Purchase Value", ascending=False).head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                    3.79                 18.96
Idastidru52               4                    3.86                 15.45
Chamjask73                3                    4.61                 13.83
Iral74                    4                    3.40                 13.62
Iskadarya95               3                    4.37                 13.10

In [61]:
# Most popular items
#  identify top 5 items by purchase count, then table: ID, Item Name, Puchase Count, Iten Price, Total Purchase Value
items = purchaseData.groupby(["Item ID", "Item Name"])
popularItems = pd.DataFrame({"Purchase Count": items["Purchase ID"].count(),
    "Item Price": round(items["Price"].mean(), 2),
    "Total Purchase Value": items["Price"].sum(),})
popularItems.sort_values("Purchase Count", ascending=False).head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.61,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
132,Persuasion,9,3.22,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77

In [62]:
# Most profitable items
#  sort above table by Total Purchase Value
popularItems.sort_values("Total Purchase Value", ascending=False).head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.61,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
103,Singed Scalpel,8,4.35,34.80